" TODO:
" Find and replace      nnoremap S :%s//gI<Left><Left><Left>
" Surround nnoremap s ys
" Surround nnoremap S ysiw
" Fix filetree add file, folder and delete
" Remove Speed search with any key https://youtrack.jetbrains.com/issue/IDEA-161094/Option-to-disable-search-everywhere
" join lines via gj          set ideajoin

set clipboard+=unnamedplus
set idearefactormode=keep

""" Plugins  --------------------------------
set surround
" set textobj-entire
set highlightedyank
set NERDTree
" set quickscope
" set argtextobj
set which-key

let g:WhichKeyDesc_lsp = "<leader>l -> LSP"

" Plug 'bkad/CamelCaseMotion'
" Plug 'rhysd/vim-operator-surround'

" --- Plugin Settings -----------------------------

let mapleader=" "


" Camel Case Motion
nnoremap w [w
nnoremap e ]w
nnoremap b [b

vnoremap w [w
vnoremap e ]w
vnoremap b [b

" File Tree
nnoremap <Leader>e :NERDTree<CR>
nnoremap <Leader>E :NERDTreeToggle<CR>

let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'
let g:NERDTreeMapNewFile='a'
let g:NERDTreeMapNewDir='A'

nnoremap <leader>z :action ToggleDistractionFreeMode<CR>
nnoremap <leader>h :action HideActiveWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>

nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

" Collapsing
" nnoremap zc :action CollapseRegion<CR>
" nnoremap zo :action ExpandRegion<CR>
" nnoremap <leader>zc :action CollapseAllRegions<CR>
" nnoremap <leader>zo :action ExpandAllRegions<CR>

" Commenting
nnoremap gcc :action CommentByLineComment<CR>
vnoremap gc :action CommentByLineComment<CR>

" Diagnostic Navigation
nnoremap <leader>n :action GotoNextError<CR>
nnoremap <leader>N :action GotoPreviousError<CR>

nmap <Leader>fr :action RecentFiles<CR>
nmap <Leader>ff :action GotoFile<CR>
nmap <Leader>fs :action FindInPath<CR>
nmap <Leader>fg :action Git.menu<CR>

" LSP Actions
nnoremap <leader>la :action ShowIntentionActions<CR>
nnoremap <leader>lr :action RenameElement<CR>
nnoremap gf :action GotoFile<CR>
nnoremap gr :action FindUsages<CR>
nnoremap <leader>lh :action CallHierarchy<CR>
nnoremap <leader>le :action ShowNavBar<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gK :action QuickJavaDoc<CR>

nnoremap <leader>r :action Run<CR>

" Window Navigation
sethandler <c-h> a:vim
sethandler <c-l> a:vim
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

" Buffer Navigation
nnoremap <leader><TAB> :action NextTab<CR>
nnoremap <leader><S-TAB> :action PreviousTab<CR>

" Move selected line / block of text in visual mode
xnoremap K 4k
xnoremap J 4j
xnoremap L >gv
xnoremap H <gv

" --- General Settings ----------------------------
set incsearch                           " Do incremental searching.
set visualbell
set noerrorbells
set scrolloff=10                        " Keep 10 lines below and above the cursor when scrolling
set incsearch                           " incremental search
set ignorecase                          " ignore cases when searching
set smartcase                           " when you use a capital word, enables case sensitivity
set notimeout
set timeoutlen=5000

" Center when searching
nnoremap n nzz
nnoremap N Nzz
nnoremap * *zz

" Faster scrolling
nnoremap J 4j
nnoremap K 4k
nnoremap L w
nnoremap H b

" Close buffer without exitting neovim
nnoremap W :bd<cr>

" Make visual mode consistent with other settings
vnoremap v <ESC>V
nnoremap V v$h

" Y to copy till end of the line
nnoremap Y v$hy

" Use backspace key for matching parens
nmap <BS> %
xmap <BS> %

" Allow misspellings
cnoreabbrev qq q!
cnoreabbrev Qq q!
cnoreabbrev QQ q!
cnoreabbrev Q q
cnoreabbrev W w
cnoreabbrev qw wq
cnoreabbrev Wq wq
cnoreabbrev WQ wq
cnoreabbrev wQ wq
cnoreabbrev Qa qa
cnoreabbrev Bd bd
cnoreabbrev bD bd

nnoremap gl $
nnoremap gh ^

" -- Visual mode, better yanking
vnoremap y ygv

nnoremap p p`[v`]
nnoremap P P`[v`]

" -- Don't copy when pasted
vnoremap p "_dP`[v`]

" -- Better undo/redo
nnoremap R <c-r>

" -- Don't yank when x
nnoremap x "_x

